body {
    background-image: url('images/bg.webp');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .game-container {
    background: rgba(0, 0, 0, 0.75); 
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); 
    text-align: center; 
  }
  
  .username-input label {
    color: #fff;
  }
  
  .username-input input {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    border: none;
    margin-bottom: 20px; 
  }
  
  .roll-btn {
    background-color: #d4af37; 
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    margin-bottom: 20px; 
  }
  
  .roll-btn:hover {
    background-color: #ffc107;
    transform: translateY(-2px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
  }
  
  .roll-btn:active {
    transform: translateY(1px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .dice-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px; 
  }
  
  .dice {
    background: #fff;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .result {
    color: white;
    font-size: 24px;
    margin-top: 20px; 
  }
  
  @media (max-width: 768px) {
    .game-container {
      padding: 20px;
    }
  
    .username-input input, .roll-btn {
      padding: 10px 20px;
    }
  
    .dice-container {
      flex-direction: column;
    }
  
    .dice {
      margin-bottom: 10px; 
    }
  
    .result {
      font-size: 18px;
    }
  }
  